html{
font-size: 100px;



}


h1 {
    position: absolute;
    top: 0px;
    
    font-size: 120-px;
    color: chocolate;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
 .box{

    top: 0px;
width: 300vh;
height: 120vh;
background-color: navy;
border: 2px;
border-color:rgb(255, 0, 0);
border-style: solid;
background-image: url(/img/images.jpg);
background: size 100%; ;
 }

 div{
    font-size: 40px;
    color: aliceblue;
 }
 p{
    font-size: 1em;
   
 }
