*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    padding: 2rem;
    display: flex;
    background-color: beige;
}
ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.left{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.mid{
    position: inherit;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
.right{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}