* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

}
body {
  font-family: "Goldman", cursive;
  
 
}
.skibidi{
  background-image: url(img/hackerbg.png);
  background-size: cover;
}
.sigma{
  background-color: black;
}
nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #333;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}


.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

footer{ 
  color: #333;
  height: 60px;



}
h1{
  color: white;
  font-weight: bold;
}
h2{
  font-weight: bold;
}

.h2{
  color: white;
}
.h3{
  color:white;
}
.p{
  color: white;
}
.javatext{
  justify-content: space-evenly;
  display: flex;
  font-size: large;
  margin: 20px;
}
.javaimg{
  width: 300px;
  height: 300px;
}